.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    &__form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
}
    &__input {
        width: 90%;
        border-radius: 5px;
    }

    &__close-button {
        height: 10px;
        width: 10px;
        margin-top: 0.5rem;
    }
}