.header {
    background: #3697ab;
    text-align: center;
    width: 100%;
    // margin-bottom: 1rem;
    // display: flex;
    // // flex-direction: column;
    // align-items: center;
    // justify-content: space-around;
    // padding: 0.5rem 0rem;

    // &__headline {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }

    // &__social-link {
        
    // }

    // &__social-icon {
    //     height: 50px;
    //     width: 50px;
    // }
}